ul.coreRule
  li 变量及函数命名以驼峰命名: getName, getName()
  li preId 每一页的前辍小写
  li button 命名规则:
     preId + add, add1, add2 (新增)
     preId + delBatch, delBatch2.... (批量删除)
  li datagrid 命名规则: preId + tableList, tableList2.....
