nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
  .container-fluid
    .navbar-header
      ul(class="nav navbar-nav")
        li(role="presentation" class="active")
          a(href='#DNA') DNA
        li(role="presentation")
          a(href='#msg') Message
        li(role="presentation")
          a(href='#datagrid') DataGrid
        li(role="presentation")
          a(href='#tree') Tree
        li(role="presentation")
          a(href='#datacontrol') DataControl
        li(role="presentation")
          a(href='#validate') Validate
        li(role="presentation")
          a(href='#combogrid') ComboGrid
        li(role="presentation")
          a(href='#rules') 开发规范
